@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply antialiased font-sans bg-gray-50;

  height: 100dvh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}
